*\#*
*~
*txt
*pyc
*log
temp/
test.py
test_data_manager_recon_cifar10.py
.idea*
*ipynb
safety_dir*
expt1/
expt2/
*expts_results*/
batch.sh
cifar_75_expts/
cifar_100_expts/
cifar_200_expts/
cifar_400_expts/
*h5
Expt_output.log*
ECOC_repo.bundle
cfg_dir/expt_random_cifar100_i*cfg
cfg_dir/expt_softmax_cifar100_i*cfg