*\#*
*~
*txt
*pyc
*log
*ps
temp/
temp.*
test.py
test_data_manager_recon_cifar10.py
.idea*
*ipynb
safety_dir*
*safety*
expt1/
expt2/
*expts_results*/
batch.sh
cifar_75_expts/
cifar_100_expts/
cifar_200_expts/
cifar_400_expts/
benchmark_expts/*
*h5
Expt_output.log*
ECOC_repo.bundle
cfg_dir/expt_random_cifar100_i*cfg
cfg_dir/expt_softmax_cifar100_i*cfg
cfg_dir/expt_minigooglenet_softmax.cfg
cfg_dir/expt_minigooglenet_softmax_i1907.cfg
cfg_dir/expt_random_cifar100_vgg_init_run.cfg
cfg_dir/expt_softmax_cifar100_vgg_init_run.cfg
cfg_dir/expt_vgg16b_random.cfg
cfg_dir/expt_vgg16b_softmax.cfg
encoding_expts_2/
encoding_expts_3/
.ipynb_checkpoints/
local_optimizer2.py
local_optimizer3.py
local_optimizer_epoch_update.py
local_optimizer_old.py
net_architectures/cifar100_vgg16b.py
net_architectures/vgg19.py
net_architectures/vgg19_a.py
net_architectures/vgg19_b.py
net_architectures/milani_inception2.py
net_architectures/tiny_imagenet_milani_inception_v3.py
net_architectures/vgg16.py
tiny_imagenet_expts/
dataset_loaders/
cfg_dir2/
*pdf
opt_tfer_series_temp/
results/
make_datasets/make_cifar_dataloaders.sh
execute_expts/opt_tfer_expts/cifar_100_living_notliving_expts/efficient_net_b0_arch/
execute_expts/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/src_nets/src_net_0.sh
execute_expts/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_0/
execute_expts/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_1/
execute_expts/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_2/
execute_expts/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_3/
execute_expts/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_4/
execute_expts/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/tfer_net_batch.sh
execute_expts/opt_tfer_expts/cifar_100_living_notliving_expts/wide_resnet/
execute_expts/opt_tfer_expts/cifar_100_ref_expts/efficient_net_b0_arch/
execute_expts/opt_tfer_expts/cifar_100_ref_expts/prelim_arch/
execute_expts/opt_tfer_expts/cifar_100_ref_expts/vgg16/ref_nets/batch_vgg_012.sh
execute_expts/opt_tfer_expts/cifar_100_ref_expts/vgg16/ref_nets/ref_net_0.sh
net_architectures/cifar100_efficient_net_b0.py
net_architectures/cifar100_vgg16_copy.py
net_architectures/cifar100_vgg16_copy2.py
net_architectures/sgEfficientNet.py
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_living_notliving_expts/efficient_net_b0_arch/
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_0/
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_1/
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_2/
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_3/
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/tfer_nets/src_net_4/
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/efficient_net_b0_arch/
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/prelim_arch/
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_1.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_10.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_2.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_3.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_4.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_5.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_6.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_7.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_8.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_9.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_aa.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_bb.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_cc.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_temp.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/vgg16/ref_nets/ref_net_temp2.cfg
cfg_dir/expt_cfg/opt_tfer_expts/cifar_100_reference_expts/wide_resnet/ref_nets/ref_net_test.cfg
cfg_dir/gen_cfg/opt_tfer_expts/cifar_100_living_notliving_expts/prelim_arch/prelim_series.cfg
cfg_dir/gen_cfg/opt_tfer_expts/tfer_datasets/
cfg_dir/opt_cfg/lr_sched_1.cfg
cfg_dir/opt_cfg/optimizer_rmsprop.cfg
cfg_dir/opt_cfg/optimizer_sgd_5e-03_1e-06_9e-01_schedule2.cfg
cfg_dir/opt_cfg/optimizer_sgd_5e-03_1e-06_9e-01_schedule3.cfg
cfg_dir/opt_cfg/optimizer_sgd_5e-03_1e-06_9e-01_schedule4.cfg
cfg_dir/opt_cfg/optimizer_sgd_lr_sched_1.cfg
cfg_dir/opt_cfg/optimizer_sgd_vgg16.cfg
cfg_dir/opt_cfg/optimizer_sgd_vgg16.py
cfg_dir/opt_cfg/optimizer_sgd_vgg16_l2.cfg
cfg_dir/opt_cfg/optimizer_sgd_wrn.cfg
cfg_dir/opt_cfg/optimizer_sgd_wrn_2.cfg
cfg_dir/opt_cfg/optimizer_vgg_pretests.cfg
cfg_dir/opt_cfg/optimizer_vgg_pretests_1.cfg
cfg_dir/opt_cfg/optimizer_vgg_pretests_2.cfg
cfg_dir/opt_cfg/optimizer_vgg_pretests_3.cfg
